@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Roboto+Flex:opsz,wght@8..144,400;8..144,900;8..144,1000&family=Roboto+Mono:wght@400;700&display=swap');
:root {
  --bg-color: #050e08;
  --light-color: #ffffff;
  --dark-color: #000000;
  --border-line: solid 1px var(--light-color);
  --text-margin: 10px;
}

[data-theme="light"] {
  --bg-color: #c5c3c3;
  --light-color: #000000;
  --dark-color: #ffffff;
  --border-line: solid 1px var(--light-color);
  --text-margin: 0px;
}

body {
  background-color: var(--bg-color);
  color: var(--light-color);
  padding: 20px;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

.text {
  font-size: 22px;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}

section {
  margin: 100px auto;
  padding: 30px 0px;
}

.heading {
  font-size: 64px;
  font-weight: 400;
}

/* Header */

header.container {
  max-width: 1500px !important;
}

.navbar {
  border: var(--border-line);
  padding: 0px;
  height: 100px;
}

.navbar-brand {
  padding: 10px;
  margin-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.navbar-brand img {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: qodef-shake-logo 2.8s infinite;
}

.navbar-links {
  border-right: var(--border-line);
  border-left: var(--border-line);
  height: 100%;
  transition: 0.4s;
}

.nav-link {
  margin-inline: 20px;
  color: var(--light-color);
  font-weight: 700;
  transition: 0.4s;
  border-bottom: var(--border-line);
  border-color: transparent;
  height: fit-content;
}

.nav-link:hover {
  color: var(--light-color);
  border-color: var(--light-color);
}

.navbar-nav {
  border-left: var(--border-line);
  border-right: var(--border-line);
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.4s;
}

.fa-bars {
  font-size:34px;
}

/* switch */

#switch {
  visibility: hidden;
  position: absolute;
}

.switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  background-color: var(--dark-color);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.5s all ease;
  border: solid 1px var(--light-color);
}

.switch-label .toggle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--light-color);
  position: absolute;
  left: 3px;
  transition: 0.5s all ease;
}

.wrapper {
  transition: 0.4s;
  margin: 10px;
}

.wrapper:hover {
  opacity: 1;
}

#switch:checked ~ .switch-label {
  transition: 0.5s all ease;
  background: var(--dark-color);
}

#switch:checked ~ .switch-label .toggle {
  height: 12.5px;
  transform: scale(0.9) translateX(75px) rotate(90deg);
  transition: 0.7s all ease;
  border-radius: 25px 25px 0 0;
  background: transparent;
  box-shadow: 0px -6px 0 0 #2b2b2b;
}

.wrapper p {
  color: var(--light-color);
  margin-left: var(--text-margin);
  font-weight: bold;
}

/* Hero */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-inline: auto;
  margin-top: 20px;
}

#hero img {
  width: 120px;
  height: 120px;
}

#hero h1 {
  font-size: 7.320644216691069vw;
  font-weight: 100;
  font-family: "Roboto Flex", sans-serif;
}
.hero-font {
  /* font-variation-settings: 'wght' 400; */
  animation: font-animation 2.8s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite forwards;
  animation-delay: (0 * 150ms);
}

/* Mission */
.whitepaper {
  display: inline-block;
  color: var(--light-color);
  border: var(--border-line);
  font-size: 20px;
  padding: 10px;
  position: relative;
  background-color: var(--bg-color);
  transition: 0.4s;
}

.whitepaper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  top: 10px;
  left: 10px;
  z-index: -1;
}

.whitepaper:hover {
  text-decoration: none;
  font-size: 22px;
  color: var(--light-color);
}

/* Marquee */
#marquee {
  overflow: hidden;
}

.marquee-container {
  display: flex;
}

.marquee-container img {
  max-width: 400px;
}

/* Roadmap */
#roadmap .text {
  font-size: 16px;
}

/* Tokenomics */
.token-img {
  max-width: 700px;
  margin-top: 40px;
  margin-inline: auto;
}

/* Footer */
#footer {
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#footer .text {
  font-size: 16px;
}

.footer-container {
  border: var(--border-line);
}

.footer-border {
  border-left: var(--border-line);
}

/* Animation */

@keyframes qodef-shake-logo {
  0%,
  100%,
  48% {
    transform: translate(0, 0) rotate(0);
  }
  3% {
    transform: translate(1px, 0) rotate(0);
  }
  6% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  9% {
    transform: translate(-3px, -1px) rotate(1deg);
  }
  12% {
    transform: translate(3px, 1px) rotate(0);
  }
  15% {
    transform: translate(1px, -2px) rotate(1deg);
  }
  18% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  21% {
    transform: translate(3px, 0) rotate(-1deg);
  }
  24% {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  27% {
    transform: translate(1px, 1px) rotate(0);
  }
  30% {
    transform: translate(1px, -3px) rotate(-1deg);
  }
}

@keyframes font-animation {
  0%,
  100%,
  30% {
    font-variation-settings: 'wght' 600;
  }

  15% {
    font-variation-settings: 'wght' 100;
  }
}

.hero-font-1 {
  animation-delay: 150ms;
}
.hero-font-2 {
  animation-delay: 0.3s;
}
.hero-font-3 {
  animation-delay: 450ms;
}

/* Images animation */
@keyframes circularMotion {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  75% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, -10px);
  }

}

@keyframes squareMotion {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes leftRightMotion {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); /* Adjust the distance as needed */
  }
}

@keyframes bouncingMotion {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Adjust the bounce height as needed */
  }
  60% {
    transform: translateY(-5px); /* Adjust the bounce height as needed */
  }
}

@keyframes projectileMotion {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 90% {
    transform: translateY(-10px); /* Adjust the height as needed */
  }
  50% {
    transform: translateY(0);
  }
}

.image-9 {
  animation-delay: 2s;
}

.image-5, .image-9 {
  animation: projectileMotion 5s linear infinite alternate;
}

.image-4 {
  animation: bouncingMotion 5s linear infinite alternate;
}

.image-3 {
  animation: leftRightMotion 5s linear infinite alternate;
}

.image-2 {
  animation: squareMotion 5s linear infinite alternate; /* Adjust the duration as needed */
}

.image-1 {
  position: relative;
  animation: circularMotion 5s linear infinite alternate; /* Adjust the duration as needed */
}


/* Scroll */
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* To */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  #hero {
    height: 75vh;
  }

  #hero img {
    display: none;
  }
  .hero-font {
    font-size: 9vw;
    line-height: 1.5;
  }

  .heading {
    font-size: 9vw;
    text-align: center;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    font-size: 24px;
  }
  .footer-border {
    border-left: none;
    border-top: var(--border-line);
  }

  #roadmap .text {
    max-width: 300px;
    margin-inline: auto;
  }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 908px) {
  .navbar {
    height: 70px;
  }

  .navbar,
  .navbar-links,
  .navbar-nav {
    border: none;
  }

  .nav-link {
    margin: 0px;
    padding: 0.5rem 1rem !important;
  }

  .navbar-nav {
    background-color: var(--bg-color);
    height: auto;
  }
}

@media (min-width: 1200px) {
  #hero h1 {
    font-size: 100px;
  }
}
